@import 'tailwindcss';

@layer base {
  a,
  button:not(:disabled),
  [role='button'] {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }

  select {
    cursor: pointer;
  }
}
